@import "__opmenu/letters__opmenu.css";
@import "__cross/letters__cross.css";
@import "__article/letters__article.css";
@import "__footer/letters__footer.css";
@import "__list/letters__list.css";
@import "../letter/letter.css";


.letters {
    position: absolute;

    width: 589px;
    height: 530px;
    margin-top: 56px;

    margin-left: 191px;
    background-color: #fff;

    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.34);
}

.letters__footer-line {
    margin-top: 499px;
}
