
.letters__list {
    position: absolute;

    overflow: hidden;
    width: inherit;
    height: 430px;
    margin-left: 0;
    margin-top: 0;

}

.letters__list_shift-up {
    margin-top: -44px;
}

.letters__list_shift-down {
    margin-top: 0;
}

.letters__list_transition-active {
    transition: margin-top 1s;
}

.letters__list-container {
    position: absolute;

    overflow: hidden;
    width: inherit;
    height: 430px;
    margin-top: 41px;
    margin-left: 0;
}

