@font-face {
	font-family: "Yandex Sans Light";
	src: url(fonts/YandexSansText-Light.ttf);
}

@font-face {
	font-family: "Yandex Sans Bold";
	src: url(fonts/YandexSansText-Bold.ttf);
}

@font-face {
	font-family: "Yandex Sans Regular";
	src: url(fonts/YandexSansText-Regular.ttf);
}

@font-face {
	font-family: "Helvetica Neue Bold";
	src: url(fonts/HelveticaNeueCyr-Bold.otf);
}

@font-face {
	font-family: "Helvetica Neue Medium";
	src: url(fonts/HelveticaNeueCyr-Medium.otf);
}

@font-face {
	font-family: "Helvetica Neue Light";
	src: url(fonts/HelveticaNeueCyr-Light.otf);
}

body {
	text-overflow: ellipsis;
}

p {
	overflow: hidden;
}

#main {
	height: 600px;
	width: 800px;
	/*background-color: #f0f8ff;*/
	background-color: rgb(229, 234, 240);
	position: static;
}


.hline {
	height: 3px;
	width: 20px;
	position: absolute;
	background-color: #000;
	margin-left: 22px;
}

#hline-1 {
	margin-top: 19px;
}


#hline-2 {
	margin-top: 26px;
}


#hline-3 {
	margin-top: 33px;
}

#name {
	height: 31px;
	width: 190px;
	margin-left: 53px;
	margin-top: 12px;

	font-size: 26px;

	color: #010101;
	position: absolute;
}

#name-yandex {
	float: left;
	font-family: "Yandex Sans Bold";
}


#name-mail {
	font-family: "Yandex Sans Light";
	position: relative;
	left: 8px;
}


#menu {
	width: 147px;
	height: 126px;
	position: absolute;
	margin-left: 22px;
	margin-top: 96px;
}


#highlighted {
	position: absolute;
	width: 147px;
	height: 22px;
	margin-left: 0px;
	margin-top: 5px;
	border-radius: 3px;
	background-color: #cdd6e4;
	z-index: 1;
}

#menu-items {
	position: absolute;
	height: inherit;
	width: inherit;
	z-index: 2;
}

.menu {
	margin-left: 10px;
	font-family: "Helvetica Neue Bold", sans-serif;
	font-size: 11px;
	font-weight: 500;
	max-width: 147px;
	max-height: 11px;
	color: #707070;
	z-index: 2;
}


.highlighted {
	font-weight: 700;
	z-index: 2;
}

#writebox {
	width: 147px;
	height: 32px;
	margin-left: 22px;
	margin-top: 56px;
	position: absolute;

	border-radius: 3px;
	background-color: #6287bd;

}

#write {
	margin-left: 46px;
	margin-top: 7px;
	position: absolute;

	max-width: 60px;
	max-height: 12px;



	color: #fff;
	font-family: "Helvetica Neue Bold", sans-serif;
	font-size: 12px;
	font-weight: 500;
	text-align: center;
}

#search {
	height: 32px;
	width: 301px;

	position: absolute;

	margin-left: 320px;
	margin-top: 11px;
	background-color: rgb(216, 219, 222);

	/*box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);*/
}

#search-suggestion {
	width: 44px;
	height: 39px;
	margin-left: 16px;
	margin-top: 7px;
	position: absolute;
	max-width: 44px;
	max-height: 39px;

	color: #707070;
	font-family: "Yandex Sans Regular", sans-serif;
	font-size: 15px;
	font-weight: 400;
	/*line-height: 32px;*/
}

.cross {
	position: absolute;
	margin-left: 280px;
	margin-top: 9px;
}


#letters {
	height: 530px;
	width: 589px;

	position: absolute;

	margin-left: 191px;
	margin-top: 56px;
	background-color: #fff;

	box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.34);
}


#letters-lines {
	position: absolute;
	height: inherit;
	width: inherit;
}

.letters-lines {
	width: 589px;
	height: 0px;
	border: 1px solid #e2e2e2;
	position: static;
	margin-top: 41px;
}

#letters-rectangles {
	position: absolute;
	margin-top: -14px;
}

.letters-rectangles {
	position: static;
	width: 16px;
	height: 16px;
	margin-left: 20px;
	margin-top: 25px;
	border-radius: 3px;
	border: 1px solid rgba(0, 0, 0, 0.15);
	background-color: #ffffff;
}

#letters-line-6 {
	margin-top: 274px;
}

#opmenu {
	position: absolute;
	height: inherit;
	width: inherit;

	color: #cccccc;
	font-family: "Helvetica Neue Bold";
	font-size: 13px;
	font-weight: 500;
}

#forward {
	float: left;
	margin-left: 56px;
	margin-top: 15px;
	max-width: 69px;
	max-height: 13px;
}

#delete {
	float: left;
	margin-left: 26px;
	margin-top: 15px;
	max-width: 53px;
	max-height: 13px;
}

#spam {
	float: left;
	margin-left: 24px;
	margin-top: 15px;
	max-width: 64px;
	max-height: 13px;
}

#read {
	float: left;
	margin-left: 25px;
	margin-top: 15px;
	max-width: 71px;
	max-height: 13px;
}


#very-letters {
	position: absolute;
	margin-left: 46px;
	margin-top: 41px;
	width: 543px;
	height: 448px;
}

.letter {
	margin-top: 0px;
	margin-left: 0px;
	width: inherit;
	height: 43px;
}

.yandex-oval {
	margin-top: 6.5px;
	margin-left: 0px;
	position: absolute;
}

.Ya {
	margin-top: 11.5px;
	margin-left: 9px;
	position: absolute;
}

.author {
	position: absolute;
	margin-left: 40px;
	margin-top: 17px;
	max-width: 160px;
	max-height: 13px;
	font-family: "Helvetica Neue Light";
	font-size: 13px;
	color: #000;
}


.unread-oval {
	position: absolute;
	margin-top: 12px;
	margin-left: 215px;
}

.theme {
	position: absolute;
	margin-left: 235px;
	margin-top: 17px;
	max-width: 210px;
	max-height: 13px;
	font-family: "Helvetica Neue Light";
	font-size: 13px;
	color: #000; 
}

.unread {
	font-family: "Helvetica Neue Bold";
}

.date {
	position: absolute;
	right: 20px;
	margin-top: 17px;
	max-width: 40px;
	max-height: 13px;
	color: #9b9b9b;
	font-family: "Helvetica Neue Medium";
	font-size: 13px;
}

.footer {
	position: absolute;
	right: 20px;
	bottom: 9px;
	color: #9b9b9b;
	font-family: "Helvetica Neue Medium";
	font-size: 11px;
}

.footer-text {
	margin-bottom: 2px;
	max-width: 350px;
	max-height: 11px;
}

#article {
	position: absolute;
	margin-left: 0px;
	margin-top: 41px;
	width: 589px;
	height: 448px;
	max-width: 589px;
	max-height: 448px;
	background-color: #fff;
	display: none;
}


.article-title {
	margin-left: 50px;
}


#nut {
	float: left;
}


.display-article {
	display: none;
	position: absolute;
	margin-top: -15px;
}

.hide-article-cross {
	position: absolute;
	margin-left: 570px;
	margin-top: 50px;
	z-index: 2;
}


#hide-article-label {
	display: none;
}

.hide-article {
	display: none;
}

.display-article:checked ~ #article {
	display: block;
}

.display-article:checked ~ #hide-article-label {
	display: block;
}

.hide-article:checked ~ #article {
	display: none;
}

.hide-article:checked ~ #hide-article-label {
	display: none;
}
