.letters__article {
  position: absolute;

  overflow: hidden;
  width: inherit;
  max-width: 589px;
  height: 448px;
  max-height: 448px;
  margin-top: 41px;
  margin-left: 0;
  background-color: #fff;
}

.letters__article-title {
  margin-left: 50px;
}
