.search__suggestion {
  position: absolute;

  width: 44px;
  max-width: 44px;
  height: 39px;
  max-height: 19px;
  margin-top: 7px;
  margin-left: 16px;

  color: #707070;
  font-family: 'Yandex Sans Regular', sans-serif;
  font-size: 15px;
  font-weight: 400;
}
